
    <div class="alternative">
        <button mat-raised-button (click) = "switchToConnect()" style="width: 100%" color="primary">Back</button>
        <button mat-raised-button (click) = "switchToUploadFile()" style="width: 100%; margin-top:10px;"  color="primary">Smart Upload</button>
    </div>
    
    <mat-accordion>
        <mat-expansion-panel  color="primary" (opened) ="getTables()">
            <mat-expansion-panel-header >
             <mat-panel-title>
                Tables
             </mat-panel-title> 
             <mat-panel-description>
                {{table_size}}
            </mat-panel-description>   
            </mat-expansion-panel-header>
            <div *ngFor = "let table of tables">
                    <mat-accordion >
                            <mat-expansion-panel (opened) = "getTablesInfo(table)">
                                    <mat-expansion-panel-header dnd-draggable [dragEnabled]="true" [dragData]="table.table_name">
                                        {{table.table_name}}      
                                    </mat-expansion-panel-header>
                                    <mat-list>
                                            <mat-list-item *ngFor="let tb_info of table.attrs">
                                              <h6 matLine style="font-size:14px;" dnd-draggable [dragEnabled]="true" [dragData]="tb_info.Field"> {{tb_info.Field}} </h6>
                                              <p matLine style="font-size:12px;"> {{tb_info.Type}} </p>
                                            </mat-list-item>
                                          </mat-list>
                            </mat-expansion-panel>
                    </mat-accordion>
             
            </div>
          </mat-expansion-panel>
    </mat-accordion>

     


