.main-container {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    left:auto;
    //background-color: lightslategrey;
}
.ex-container {
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.database-card {
    background-color:lightblue;
    margin: 8px;
}
.btn{
    bottom: 30px;
    position: fixed;
    right: 30px;
}
.button
{
    float:right;margin-top:4px;display: block;margin-left: 10px;width: 10px; height: 10px;
}