

<mat-sidenav-container class="main-container" fxFill>
  
  <mat-sidenav #sidenav [mode] = "side" align="end" fxLayout="row wrap" style="background-color:orange; padding: 1rem; max-width:345px">
    
    <h2>Database Information</h2><br>

    
    <form #userForm = "ngForm" >

          <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field class="input-elements" fxFill>

        <input matInput  name="name" ngModel required>
        <mat-placeholder>Name</mat-placeholder>

      </mat-form-field>

      <mat-form-field class="input-elements" fxFill>
        <mat-placeholder>Database Type</mat-placeholder>
        <mat-select  name="type" ngModel required>
          <mat-option 
            *ngFor = "let database of databases" 
            [value]="database">
            {{database}}
          </mat-option>
        </mat-select>

  </mat-form-field>

  <div>
      <label >Server Address</label>
  </div>

  <mat-form-field class="input-elements" fxFill> 
                        
    <input matInput placeholder="Host" class = "form-control" name="host" ngModel required>
      
  </mat-form-field>

  <mat-form-field class="input-elements" fxFill>
          
      <input matInput placeholder="Port" class = "form-control" name="port" ngModel>
            
  </mat-form-field>

  <mat-form-field class="input-elements" fxFill>
          
      <input matInput placeholder="Username" class = "form-control" required #username>
            
  </mat-form-field>
  <mat-form-field class="input-elements" fxFill>
          
      <input matInput type = "password" placeholder="Passwword" class = "form-control" name="password" ngModel required>
                
  </mat-form-field>

  <mat-form-field class="input-elements" fxFill>
          
      <input matInput placeholder="Schema" class = "form-control" name="schema" ngModel required>
            
  </mat-form-field>

  <button mat-raised-button color = "primary" (click)="onSubmit(userForm,sidenav)"><mat-icon class = "bton">done</mat-icon>Submit</button>
  <button mat-raised-button color = "accent" (click) = "testConnection(userForm,sidenav)"><mat-icon class = "button">cloud_upload</mat-icon>Test</button>
  <button mat-raised-button (click) = "resetForm(userForm)" (click) = "sidenav.toggle()" color="warn"><mat-icon class = "button">cancel</mat-icon>Clear</button>
  </div>
  
</form>

</mat-sidenav>
<mat-sidenav-content>
  <div  fxLayout="row wrap" >
    <ng-template let-connection ngFor  [ngForOf]="connections">
      <mat-card class = "database-card" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="20" fxFlex.xl="16.333">
        <mat-icon style="float:right; cursor:pointer;" (click) = "editCard(sidenav,userForm.value)">edit</mat-icon>
        <h3>{{connection.name}}</h3>
        <h4>{{connection.type}}</h4>
        <mat-card-actions> <button mat-raised-button fxFill (click) = "createConnection(connection)"><mat-icon>wifi</mat-icon>connect</button> </mat-card-actions>
      </mat-card>
    </ng-template>
  </div>
  
  <div class="btn">
    <button mat-mini-fab (click) = "sidenav.toggle()" color="primary" class="btn"><mat-icon>add</mat-icon></button>
  </div>
  
</mat-sidenav-content>

</mat-sidenav-container>




