<mat-sidenav-container class="main-container">
  
  <mat-sidenav #sidenav [mode] = "side" align="end" fxLayout="row wrap" style="background-color:orange;">
    
    <h2>Database Information</h2><br>

    
    <form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm.value)">

          <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field class="input-elements" fxFill>

        <input matInput class = "form-control" name="name" ngModel>
        <mat-placeholder>Name</mat-placeholder>

      </mat-form-field>

      <mat-form-field class="input-elements" fxFill>

        <mat-select placeholder = "Database Type" name="type" ngModel>

          <mat-option *ngFor = "let database of databases" [value]="database">{{database}}</mat-option>

        </mat-select>

  </mat-form-field>

  <div>
      <label >Server Address</label>
  </div>

  <mat-form-field class="input-elements" fxFill> 
                        
    <input matInput placeholder="Host" class = "form-control" name="host" ngModel>
      
  </mat-form-field>

  <mat-form-field class="input-elements" fxFill>
          
      <input matInput placeholder="Port" class = "form-control" name="port" ngModel>
            
  </mat-form-field>

  <mat-form-field class="input-elements" fxFill>
          
      <input matInput placeholder="Username" class = "form-control" name="username" ngModel>
            
  </mat-form-field>
  <mat-form-field class="input-elements" fxFill>
          
      <input matInput placeholder="Passwword" class = "form-control" name="password" ngModel>
                
  </mat-form-field>

  <mat-form-field class="input-elements" fxFill>
          
      <input matInput placeholder="Initial Schema" class = "form-control" name="schema" ngModel>
            
  </mat-form-field>

  <button type = "submit" mat-raised-button style="background-color:limegreen;" >Submit</button>
  
  </div>
  
</form>
<button mat-raised-button (click) = "sidenav.toggle()" style="background-color:palegoldenrod; margin-top:10px;">Clear</button>

</mat-sidenav>

<mat-sidenav-content>
  
  <button mat-raised-button (click) = "sidenav.toggle()" style="background-color:limegreen;">Add Database</button>

</mat-sidenav-content>

</mat-sidenav-container>

<div *ngFor = "let connection of connections">
  <mat-card class = "database-card">
    <h3>{{connection.name}}</h3>
    <h4>{{connection.type}}</h4>
    <mat-card-actions> <button mat-raised-button fxFill (click) = "createConnection(connection)">connect</button> </mat-card-actions>
  </mat-card>
</div>

